.top{
    background-color: #35d929;
    padding: 50px;
    margin: 5px;
    margin-bottom:50px;
}
.Head{
    color:aliceblue;
    text-align: center;
}
.box{
    background-color: #2e15ec;
    padding: 20px;
    margin: 20px;
}

.form{
    background-color: #e52a2a;
    padding: 10px;
    margin: 10px;
}
.form1{
    background-color: #b4aae9;
    padding: 5px;
    margin: 5px;
}
.Myname{
    color: #2A1503;
    text-align: center;
}

h1.Myname:hover{
    color:blue;
    text-align: center;
}

#list{
    color:#2A1503;
}

.middle{
    background-color: #2A1503;
    padding: 10px;
    width: 25%;
}

.dog{
    width: 100%;
}
.Dog1{
    color: #e3e9aa;
}

table, th, td {
    border:1px solid black;
  }